*.7z
*.rar
*.zip
*.tar.gz
*.debug
*.log
*.exe
!iconv.exe
!oggdec.exe
!tisunpack.exe
!TobExLoader.exe
setup-spell_rev
setup-spell_rev.command
spell_rev/backup/*
spell_rev/debug/*
!spell_rev/debug/debug.txt
