---
---

$primary: hsl(171, 100%, 41%);
$black: hsl(0, 0%, 4%);

$box-shadow: 0 0.5em 1em -0.125em rgba($black, 0.1), 0 0px 0 1px rgba($black, 0.02);
$box-radius: 0;

@import "main";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

// fix vertical padding between columns when specifying column gap
.columns.is-variable .column {
  padding: var(--columnGap);
}

// left-align spell icon and name
.spell {
  justify-content: flex-start;
}

// center class filter buttons on desktop
.class-filter, .class-filter .navbar-item
{
  display: block;
}

// make icon on spell page rounded and padded
.spell-page-icon
{
  padding: 6px;
  border-radius: $radius-rounded;
  height: 38px;
  width: 38px;
}
